  .list {
      /* list-style-type: none; */
  }
  
  li {
      font-size: 1.5em;
  }
  
  .first {
      text-decoration: red overline;
  }
  
  .second {
      text-decoration: line-through;
  }
  
  .third {
      display: inline;
  }
  
  .fix {
      text-decoration: green underline;
  }