html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

section {
    margin: 32px;
}

h1 {
    word-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    line-height: 28px;
}

.tech {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: underline;
}

.main-text {
    display: flex;
    margin: 32px;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.font {
    font-style: italic;
    color: grey;
}