* {
    box-sizing: border-box;
}

body {
    font-family: Verdana;
}

h1 {
    font-size: 74px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

div {
    background-color: coral;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: white;
    text-transform: uppercase;
}