* {
    box-sizing: border-box;
}

@keyframes moving {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 70px;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.spinner {
    position: relative;
    animation: blinking 2s linear;
    animation-iteration-count: infinite;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
}

.rect {
    background-color: black;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    animation: moving 2s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}