  .list {
      list-style-type: none;
  }
  
  li {
      font-size: 1.5em;
  }
  
  .third {
      text-decoration: green underline
  }
  
  .first {
      text-decoration: red overline;
  }
  
  .second {
      text-decoration: line-through;
  }