                                                            * {
                                                            box-sizing: border-box;
                                                        }
                                                        
                                                        .container {
                                                            height: 100vh;
                                                            width: 100vw;
                                                            display: flex;
                                                            justify-content: center;
                                                            align-items: center;
                                                        }
                                                        
                                                        .spinner-text {
                                                            font-size: 16px;
                                                            font-family: monospace;
                                                            text-transform: uppercase;
                                                            animation: blinking 2s infinite, blinking 2s linear infinite;
                                                        }
                                                        
                                                        .spiner {
                                                            display: flex;
                                                        }
                                                        
                                                        .circle {
                                                            box-sizing: border-box;
                                                            height: 50px;
                                                            width: 50px;
                                                            border: 4px solid lightgrey;
                                                            border-top: 4px solid black;
                                                            border-radius: 100%;
                                                            margin: auto;
                                                            margin-bottom: 8px;
                                                            animation: rotate 2s linear infinite;
                                                        }
                                                        
                                                        @keyframes blinking {
                                                            0% {
                                                                opacity: 0;
                                                            }
                                                            50% {
                                                                opacity: 1;
                                                            }
                                                            100% {
                                                                opacity: 0;
                                                            }
                                                        }
                                                        
                                                        @keyframes rotate {
                                                            0% {
                                                                transform: rotate(0);
                                                            }
                                                            100% {
                                                                transform: rotate(360deg);
                                                            }